---
---

<div class="flex items-center space-x-4">
  <a 
    href="/login"
    class="!inline-flex items-center px-4 py-2 text-[15px] font-medium text-gray-700 hover:text-gray-900 focus:outline-none"
  >
    Log in
  </a>
  <a
    href="/welcome"
    class="!inline-flex items-center px-4 py-2 border border-transparent text-[15px] font-medium rounded-lg text-white !bg-gray-900 hover:!bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors"
  >
    Sign up
  </a>
</div>

<script>
function signIn() {
  // For now, we'll just show an alert
  alert('Authentication will be implemented in a future update');
}
</script>