---
import { SignIn, SignedIn, SignedOut, UserButton } from '@clerk/astro';
---

<div class="flex items-center gap-4">
  <SignedIn>
    <UserButton afterSignOutUrl="/" />
  </SignedIn>
  <SignedOut>
    <SignIn afterSignInUrl={Astro.url.pathname} />
  </SignedOut>
</div>

<style>
  :global(.cl-userButtonBox) {
    @apply h-8;
  }
  
  :global(.cl-userButtonTrigger) {
    @apply h-8 w-8;
  }
</style>
