---
interface Props {
  title: string;
  description: string;
  href: string;
  image: string;
}

const { title, description, href, image } = Astro.props;
---

<a href={href} class="block group">
  <div class="gradient-card">
    <div class="flex items-center">
      <div class="flex-shrink-0 text-2xl mr-4 text-gray-700">
        {image}
      </div>
      <div>
        <h3 class="text-[15px] font-medium text-gray-900 leading-none mb-1.5">
          {title}
        </h3>
        <p class="text-[13px] text-gray-600 leading-none">{description}</p>
      </div>
    </div>
  </div>
</a>