---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={`bg-white/60 backdrop-blur-[2px] rounded-xl p-8 my-8 ring-1 ring-white/50 ${className || ''}`}>
  <slot />
</div>
