---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={`bg-white/75 backdrop-blur-[2px] rounded-xl p-4 transition-all shadow-sm ring-4 ring-[#6B4B83] ${className || ''}`}>
  <slot />
</div>
