---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={`bg-white/30 backdrop-blur-[2px] rounded-xl p-8 my-8 ring-2 ring-[#F3E7F0]/50 shadow-[0_0_0_1px_rgba(243,231,240,0.2)] ${className || ''}`}>
  <slot />
</div>
