---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={`bg-white/40 backdrop-blur-[2px] rounded-xl p-8 my-8 ring-1 ring-black/5 shadow-[0_0_1px_rgba(0,0,0,0.1)] ${className || ''}`}>
  <slot />
</div>
