---
import Sidebar from '../components/Sidebar.astro';
import '../styles/main.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Open Design Documentation" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-100 text-[#425466] antialiased min-h-screen">
    <Sidebar currentPath={Astro.url.pathname} />
    <div class="fixed inset-0 left-[250px] p-6">
      <div class="bg-white rounded-lg shadow-sm h-[calc(100vh-3rem)] relative">
        <div class="absolute inset-0 overflow-auto p-8">
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>